PATH=/opt/aubtown/bin:/usr/local/bin:/usr/bin:/bin
HOME=/var/lib/aubtown/symphony
CODEX_HOME=/var/lib/aubtown/symphony/codex
AUBTOWN_SYMPHONY_WORKSPACES=/var/lib/aubtown/workspaces
AUBTOWN_SYMPHONY_SSH_CONFIG=/etc/aubtown/ssh/config
AUBTOWN_PRELAUNCH_ENVELOPE_ROOT=/var/lib/aubtown/admission/envelopes
AUBTOWN_PRELAUNCH_RECEIPT_ROOT=/var/lib/aubtown/admission/receipts
AUBTOWN_GITHUB_APP_PRIVATE_KEY_FILE=/etc/aubtown/keys/github-app-private.pem
AUBTOWN_GITHUB_INSTALLATION_ID=replace-with-installation-id
AUBTOWN_GITHUB_APP_ID=replace-with-app-id
GITHUB_REPO=freed-project/freed
GITHUB_TOKEN_FILE=/var/lib/aubtown/symphony/secrets/github.token
